.App {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.currentdate {
  margin: 20px 0px;
}
.chart {
  display: block;
  margin-bottom: 900px;
}
.tableWrapper {
  display: block;
  margin-top: 50%;
}
